In [4]:
import os
import subprocess
import re
import pandas as pd
import cv2
import numpy as np

In [16]:
os.chdir('C:\DS_ML\Video_Analytics_YOLOv4\YOLOv4\darknet')
imageDetect = subprocess.run('darknet.exe detector test cfg/coco.data cfg/yolov4.cfg C:\DS_ML\Video_Analytics_YOLOv4\Database_n_Files\yolov4.weights -ext_output -dont_show C:\DS_ML\Video_Analytics_YOLOv4\YOLOv4\darknet\data\dog.jpg ', stdout=subprocess.PIPE, stderr=subprocess.STDOUT, shell=True)
print(imageDetect.stdout.decode())
# print(imageDetect.stderr)

 CUDA-version: 10020 (11000), cuDNN: 8.0.2, CUDNN_HALF=1, GPU count: 1
 CUDNN_HALF=1
 OpenCV version: 4.3.0
 0 : compute_capability = 750, cudnn_half = 1, GPU: GeForce RTX 2080 SUPER
   layer   filters  size/strd(dil)      input                output
   0 conv     32       3 x 3/ 1    608 x 608 x   3 ->  608 x 608 x  32 0.639 BF
   1 conv     64       3 x 3/ 2    608 x 608 x  32 ->  304 x 304 x  64 3.407 BF
   2 conv     64       1 x 1/ 1    304 x 304 x  64 ->  304 x 304 x  64 0.757 BF
   3 route  1 		                           ->  304 x 304 x  64
   4 conv     64       1 x 1/ 1    304 x 304 x  64 ->  304 x 304 x  64 0.757 BF
   5 conv     32       1 x 1/ 1    304 x 304 x  64 ->  304 x 304 x  32 0.379 BF
   6 conv     64       3 x 3/ 1    304 x 304 x  32 ->  304 x 304 x  64 3.407 BF
   7 Shortcut Layer: 4,  wt = 0, wn = 0, outputs: 304 x 304 x  64 0.006 BF
   8 conv     64       1 x 1/ 1    304 x 304 x  64 ->  304 x 304 x  64 0.757 BF
   9 route  8 2 	                           ->  304 x 304 x 128
  10 conv     64       1 x 1/ 1    304 x 304 x 128 ->  304 x 304 x  64 1.514 BF
  11 conv    128       3 x 3/ 2    304 x 304 x  64 ->  152 x 152 x 128 3.407 BF
  12 conv     64       1 x 1/ 1    152 x 152 x 128 ->  152 x 152 x  64 0.379 BF
  13 route  11 		                           ->  152 x 152 x 128
  14 conv     64       1 x 1/ 1    152 x 152 x 128 ->  152 x 152 x  64 0.379 BF
  15 conv     64       1 x 1/ 1    152 x 152 x  64 ->  152 x 152 x  64 0.189 BF
  16 conv     64       3 x 3/ 1    152 x 152 x  64 ->  152 x 152 x  64 1.703 BF
  17 Shortcut Layer: 14,  wt = 0, wn = 0, outputs: 152 x 152 x  64 0.001 BF
  18 conv     64       1 x 1/ 1    152 x 152 x  64 ->  152 x 152 x  64 0.189 BF
  19 conv     64       3 x 3/ 1    152 x 152 x  64 ->  152 x 152 x  64 1.703 BF
  20 Shortcut Layer: 17,  wt = 0, wn = 0, outputs: 152 x 152 x  64 0.001 BF
  21 conv     64       1 x 1/ 1    152 x 152 x  64 ->  152 x 152 x  64 0.189 BF
  22 route  21 12 	                           ->  152 x 152 x 128
  23 conv    128       1 x 1/ 1    152 x 152 x 128 ->  152 x 152 x 128 0.757 BF
  24 conv    256       3 x 3/ 2    152 x 152 x 128 ->   76 x  76 x 256 3.407 BF
  25 conv    128       1 x 1/ 1     76 x  76 x 256 ->   76 x  76 x 128 0.379 BF
  26 route  24 		                           ->   76 x  76 x 256
  27 conv    128       1 x 1/ 1     76 x  76 x 256 ->   76 x  76 x 128 0.379 BF
  28 conv    128       1 x 1/ 1     76 x  76 x 128 ->   76 x  76 x 128 0.189 BF
  29 conv    128       3 x 3/ 1     76 x  76 x 128 ->   76 x  76 x 128 1.703 BF
  30 Shortcut Layer: 27,  wt = 0, wn = 0, outputs:  76 x  76 x 128 0.001 BF
  31 conv    128       1 x 1/ 1     76 x  76 x 128 ->   76 x  76 x 128 0.189 BF
  32 conv    128       3 x 3/ 1     76 x  76 x 128 ->   76 x  76 x 128 1.703 BF
  33 Shortcut Layer: 30,  wt = 0, wn = 0, outputs:  76 x  76 x 128 0.001 BF
  34 conv    128       1 x 1/ 1     76 x  76 x 128 ->   76 x  76 x 128 0.189 BF
  35 conv    128       3 x 3/ 1     76 x  76 x 128 ->   76 x  76 x 128 1.703 BF
  36 Shortcut Layer: 33,  wt = 0, wn = 0, outputs:  76 x  76 x 128 0.001 BF
  37 conv    128       1 x 1/ 1     76 x  76 x 128 ->   76 x  76 x 128 0.189 BF
  38 conv    128       3 x 3/ 1     76 x  76 x 128 ->   76 x  76 x 128 1.703 BF
  39 Shortcut Layer: 36,  wt = 0, wn = 0, outputs:  76 x  76 x 128 0.001 BF
  40 conv    128       1 x 1/ 1     76 x  76 x 128 ->   76 x  76 x 128 0.189 BF
  41 conv    128       3 x 3/ 1     76 x  76 x 128 ->   76 x  76 x 128 1.703 BF
  42 Shortcut Layer: 39,  wt = 0, wn = 0, outputs:  76 x  76 x 128 0.001 BF
  43 conv    128       1 x 1/ 1     76 x  76 x 128 ->   76 x  76 x 128 0.189 BF
  44 conv    128       3 x 3/ 1     76 x  76 x 128 ->   76 x  76 x 128 1.703 BF
  45 Shortcut Layer: 42,  wt = 0, wn = 0, outputs:  76 x  76 x 128 0.001 BF
  46 conv    128       1 x 1/ 1     76 x  76 x 128 ->   76 x  76 x 128 0.189 BF
  47 conv    128       3 x 3/ 1     76 x  76 x 128 ->   76 x  76 x 128 1.703 BF
  48 Shortcut Layer: 45,  wt = 0, wn = 0, outputs:  76 x  76 x 128 0.001 BF
  49 conv    128       1 x 1/ 1     76 x  76 x 128 ->   76 x  76 x 128 0.189 BF
  50 conv    128       3 x 3/ 1     76 x  76 x 128 ->   76 x  76 x 128 1.703 BF
  51 Shortcut Layer: 48,  wt = 0, wn = 0, outputs:  76 x  76 x 128 0.001 BF
  52 conv    128       1 x 1/ 1     76 x  76 x 128 ->   76 x  76 x 128 0.189 BF
  53 route  52 25 	                           ->   76 x  76 x 256
  54 conv    256       1 x 1/ 1     76 x  76 x 256 ->   76 x  76 x 256 0.757 BF
  55 conv    512       3 x 3/ 2     76 x  76 x 256 ->   38 x  38 x 512 3.407 BF
  56 conv    256       1 x 1/ 1     38 x  38 x 512 ->   38 x  38 x 256 0.379 BF
  57 route  55 		                           ->   38 x  38 x 512
  58 conv    256       1 x 1/ 1     38 x  38 x 512 ->   38 x  38 x 256 0.379 BF
  59 conv    256       1 x 1/ 1     38 x  38 x 256 ->   38 x  38 x 256 0.189 BF
  60 conv    256       3 x 3/ 1     38 x  38 x 256 ->   38 x  38 x 256 1.703 BF
  61 Shortcut Layer: 58,  wt = 0, wn = 0, outputs:  38 x  38 x 256 0.000 BF
  62 conv    256       1 x 1/ 1     38 x  38 x 256 ->   38 x  38 x 256 0.189 BF
  63 conv    256       3 x 3/ 1     38 x  38 x 256 ->   38 x  38 x 256 1.703 BF
  64 Shortcut Layer: 61,  wt = 0, wn = 0, outputs:  38 x  38 x 256 0.000 BF
  65 conv    256       1 x 1/ 1     38 x  38 x 256 ->   38 x  38 x 256 0.189 BF
  66 conv    256       3 x 3/ 1     38 x  38 x 256 ->   38 x  38 x 256 1.703 BF
  67 Shortcut Layer: 64,  wt = 0, wn = 0, outputs:  38 x  38 x 256 0.000 BF
  68 conv    256       1 x 1/ 1     38 x  38 x 256 ->   38 x  38 x 256 0.189 BF
  69 conv    256       3 x 3/ 1     38 x  38 x 256 ->   38 x  38 x 256 1.703 BF
  70 Shortcut Layer: 67,  wt = 0, wn = 0, outputs:  38 x  38 x 256 0.000 BF
  71 conv    256       1 x 1/ 1     38 x  38 x 256 ->   38 x  38 x 256 0.189 BF
  72 conv    256       3 x 3/ 1     38 x  38 x 256 ->   38 x  38 x 256 1.703 BF
  73 Shortcut Layer: 70,  wt = 0, wn = 0, outputs:  38 x  38 x 256 0.000 BF
  74 conv    256       1 x 1/ 1     38 x  38 x 256 ->   38 x  38 x 256 0.189 BF
  75 conv    256       3 x 3/ 1     38 x  38 x 256 ->   38 x  38 x 256 1.703 BF
  76 Shortcut Layer: 73,  wt = 0, wn = 0, outputs:  38 x  38 x 256 0.000 BF
  77 conv    256       1 x 1/ 1     38 x  38 x 256 ->   38 x  38 x 256 0.189 BF
  78 conv    256       3 x 3/ 1     38 x  38 x 256 ->   38 x  38 x 256 1.703 BF
  79 Shortcut Layer: 76,  wt = 0, wn = 0, outputs:  38 x  38 x 256 0.000 BF
  80 conv    256       1 x 1/ 1     38 x  38 x 256 ->   38 x  38 x 256 0.189 BF
  81 conv    256       3 x 3/ 1     38 x  38 x 256 ->   38 x  38 x 256 1.703 BF
  82 Shortcut Layer: 79,  wt = 0, wn = 0, outputs:  38 x  38 x 256 0.000 BF
  83 conv    256       1 x 1/ 1     38 x  38 x 256 ->   38 x  38 x 256 0.189 BF
  84 route  83 56 	                           ->   38 x  38 x 512
  85 conv    512       1 x 1/ 1     38 x  38 x 512 ->   38 x  38 x 512 0.757 BF
  86 conv   1024       3 x 3/ 2     38 x  38 x 512 ->   19 x  19 x1024 3.407 BF
  87 conv    512       1 x 1/ 1     19 x  19 x1024 ->   19 x  19 x 512 0.379 BF
  88 route  86 		                           ->   19 x  19 x1024
  89 conv    512       1 x 1/ 1     19 x  19 x1024 ->   19 x  19 x 512 0.379 BF
  90 conv    512       1 x 1/ 1     19 x  19 x 512 ->   19 x  19 x 512 0.189 BF
  91 conv    512       3 x 3/ 1     19 x  19 x 512 ->   19 x  19 x 512 1.703 BF
  92 Shortcut Layer: 89,  wt = 0, wn = 0, outputs:  19 x  19 x 512 0.000 BF
  93 conv    512       1 x 1/ 1     19 x  19 x 512 ->   19 x  19 x 512 0.189 BF
  94 conv    512       3 x 3/ 1     19 x  19 x 512 ->   19 x  19 x 512 1.703 BF
  95 Shortcut Layer: 92,  wt = 0, wn = 0, outputs:  19 x  19 x 512 0.000 BF
  96 conv    512       1 x 1/ 1     19 x  19 x 512 ->   19 x  19 x 512 0.189 BF
  97 conv    512       3 x 3/ 1     19 x  19 x 512 ->   19 x  19 x 512 1.703 BF
  98 Shortcut Layer: 95,  wt = 0, wn = 0, outputs:  19 x  19 x 512 0.000 BF
  99 conv    512       1 x 1/ 1     19 x  19 x 512 ->   19 x  19 x 512 0.189 BF
 100 conv    512       3 x 3/ 1     19 x  19 x 512 ->   19 x  19 x 512 1.703 BF
 101 Shortcut Layer: 98,  wt = 0, wn = 0, outputs:  19 x  19 x 512 0.000 BF
 102 conv    512       1 x 1/ 1     19 x  19 x 512 ->   19 x  19 x 512 0.189 BF
 103 route  102 87 	                           ->   19 x  19 x1024
 104 conv   1024       1 x 1/ 1     19 x  19 x1024 ->   19 x  19 x1024 0.757 BF
 105 conv    512       1 x 1/ 1     19 x  19 x1024 ->   19 x  19 x 512 0.379 BF
 106 conv   1024       3 x 3/ 1     19 x  19 x 512 ->   19 x  19 x1024 3.407 BF
 107 conv    512       1 x 1/ 1     19 x  19 x1024 ->   19 x  19 x 512 0.379 BF
 108 max                5x 5/ 1     19 x  19 x 512 ->   19 x  19 x 512 0.005 BF
 109 route  107 		                           ->   19 x  19 x 512
 110 max                9x 9/ 1     19 x  19 x 512 ->   19 x  19 x 512 0.015 BF
 111 route  107 		                           ->   19 x  19 x 512
 112 max               13x13/ 1     19 x  19 x 512 ->   19 x  19 x 512 0.031 BF
 113 route  112 110 108 107 	                   ->   19 x  19 x2048
 114 conv    512       1 x 1/ 1     19 x  19 x2048 ->   19 x  19 x 512 0.757 BF
 115 conv   1024       3 x 3/ 1     19 x  19 x 512 ->   19 x  19 x1024 3.407 BF
 116 conv    512       1 x 1/ 1     19 x  19 x1024 ->   19 x  19 x 512 0.379 BF
 117 conv    256       1 x 1/ 1     19 x  19 x 512 ->   19 x  19 x 256 0.095 BF
 118 upsample                 2x    19 x  19 x 256 ->   38 x  38 x 256
 119 route  85 		                           ->   38 x  38 x 512
 120 conv    256       1 x 1/ 1     38 x  38 x 512 ->   38 x  38 x 256 0.379 BF
 121 route  120 118 	                           ->   38 x  38 x 512
 122 conv    256       1 x 1/ 1     38 x  38 x 512 ->   38 x  38 x 256 0.379 BF
 123 conv    512       3 x 3/ 1     38 x  38 x 256 ->   38 x  38 x 512 3.407 BF
 124 conv    256       1 x 1/ 1     38 x  38 x 512 ->   38 x  38 x 256 0.379 BF
 125 conv    512       3 x 3/ 1     38 x  38 x 256 ->   38 x  38 x 512 3.407 BF
 126 conv    256       1 x 1/ 1     38 x  38 x 512 ->   38 x  38 x 256 0.379 BF
 127 conv    128       1 x 1/ 1     38 x  38 x 256 ->   38 x  38 x 128 0.095 BF
 128 upsample                 2x    38 x  38 x 128 ->   76 x  76 x 128
 129 route  54 		                           ->   76 x  76 x 256
 130 conv    128       1 x 1/ 1     76 x  76 x 256 ->   76 x  76 x 128 0.379 BF
 131 route  130 128 	                           ->   76 x  76 x 256
 132 conv    128       1 x 1/ 1     76 x  76 x 256 ->   76 x  76 x 128 0.379 BF
 133 conv    256       3 x 3/ 1     76 x  76 x 128 ->   76 x  76 x 256 3.407 BF
 134 conv    128       1 x 1/ 1     76 x  76 x 256 ->   76 x  76 x 128 0.379 BF
 135 conv    256       3 x 3/ 1     76 x  76 x 128 ->   76 x  76 x 256 3.407 BF
 136 conv    128       1 x 1/ 1     76 x  76 x 256 ->   76 x  76 x 128 0.379 BF
 137 conv    256       3 x 3/ 1     76 x  76 x 128 ->   76 x  76 x 256 3.407 BF
 138 conv    255       1 x 1/ 1     76 x  76 x 256 ->   76 x  76 x 255 0.754 BF
 139 yolo
[yolo] params: iou loss: ciou (4), iou_norm: 0.07, obj_norm: 1.00, cls_norm: 1.00, delta_norm: 1.00, scale_x_y: 1.20
 140 route  136 		                           ->   76 x  76 x 128
 141 conv    256       3 x 3/ 2     76 x  76 x 128 ->   38 x  38 x 256 0.852 BF
 142 route  141 126 	                           ->   38 x  38 x 512
 143 conv    256       1 x 1/ 1     38 x  38 x 512 ->   38 x  38 x 256 0.379 BF
 144 conv    512       3 x 3/ 1     38 x  38 x 256 ->   38 x  38 x 512 3.407 BF
 145 conv    256       1 x 1/ 1     38 x  38 x 512 ->   38 x  38 x 256 0.379 BF
 146 conv    512       3 x 3/ 1     38 x  38 x 256 ->   38 x  38 x 512 3.407 BF
 147 conv    256       1 x 1/ 1     38 x  38 x 512 ->   38 x  38 x 256 0.379 BF
 148 conv    512       3 x 3/ 1     38 x  38 x 256 ->   38 x  38 x 512 3.407 BF
 149 conv    255       1 x 1/ 1     38 x  38 x 512 ->   38 x  38 x 255 0.377 BF
 150 yolo
[yolo] params: iou loss: ciou (4), iou_norm: 0.07, obj_norm: 1.00, cls_norm: 1.00, delta_norm: 1.00, scale_x_y: 1.10
 151 route  147 		                           ->   38 x  38 x 256
 152 conv    512       3 x 3/ 2     38 x  38 x 256 ->   19 x  19 x 512 0.852 BF
 153 route  152 116 	                           ->   19 x  19 x1024
 154 conv    512       1 x 1/ 1     19 x  19 x1024 ->   19 x  19 x 512 0.379 BF
 155 conv   1024       3 x 3/ 1     19 x  19 x 512 ->   19 x  19 x1024 3.407 BF
 156 conv    512       1 x 1/ 1     19 x  19 x1024 ->   19 x  19 x 512 0.379 BF
 157 conv   1024       3 x 3/ 1     19 x  19 x 512 ->   19 x  19 x1024 3.407 BF
 158 conv    512       1 x 1/ 1     19 x  19 x1024 ->   19 x  19 x 512 0.379 BF
 159 conv   1024       3 x 3/ 1     19 x  19 x 512 ->   19 x  19 x1024 3.407 BF
 160 conv    255       1 x 1/ 1     19 x  19 x1024 ->   19 x  19 x 255 0.189 BF
 161 yolo
[yolo] params: iou loss: ciou (4), iou_norm: 0.07, obj_norm: 1.00, cls_norm: 1.00, delta_norm: 1.00, scale_x_y: 1.05
Total BFLOPS 128.459
avg_outputs = 1068395
 Allocate additional workspace_size = 36.08 MB
Loading weights from C:\DS_ML\Video_Analytics_YOLOv4\Database_n_Files\yolov4.weights...net.optimized_memory = 0
mini_batch = 1, batch = 8, time_steps = 1, train = 0
nms_kind: greedynms (1), beta = 0.600000
nms_kind: greedynms (1), beta = 0.600000
nms_kind: greedynms (1), beta = 0.600000
Done! Loaded 162 layers from weights-file

 seen 64, trained: 32032 K-images (500 Kilo-batches_64)
 Detection layer: 139 - type = 28
 Detection layer: 150 - type = 28
 Detection layer: 161 - type = 28
C:\DS_ML\Video_Analytics_YOLOv4\YOLOv4\darknet\data\dog.jpg: Predicted in 25.323000 milli-seconds.
bicycle: 92%	(left_x:  115   top_y:  128   width:  458   height:  299)
dog: 98%	(left_x:  129   top_y:  225   width:  184   height:  316)
truck: 92%	(left_x:  464   top_y:   77   width:  221   height:   93)
pottedplant: 33%	(left_x:  681   top_y:  109   width:   37   height:   46)

In [4]:
# Filter the detection information from the log for object of intereset
objects = ('dog','truck','bicycle', "pottedplant")
detection = [line.decode() for line in imageDetect.stdout.splitlines() if line.decode().startswith(objects)]
print(*detection, sep = "\n")

bicycle: 92%	(left_x:  115   top_y:  128   width:  458   height:  299)
dog: 98%	(left_x:  129   top_y:  225   width:  184   height:  316)
truck: 92%	(left_x:  464   top_y:   77   width:  221   height:   93)
pottedplant: 33%	(left_x:  681   top_y:  109   width:   37   height:   46)

In [5]:
# Parse text of detected information into usable dataframe
df = pd.DataFrame([line.split() for line in detection])
df.drop([2,4,6,8], axis=1, inplace=True)
df.columns = ['object', 'confScore', 'left_x', 'top_y', 'width', 'height']
df['object'] = df['object'].str.strip(':')
df['height'] = df['height'].str.strip(')')
df['confScore'] = df['confScore'].str.strip('%').astype(float)/100
df

        object  confScore left_x top_y width height
0      bicycle       0.92    115   128   458    299
1          dog       0.98    129   225   184    316
2        truck       0.92    464    77   221     93
3  pottedplant       0.33    681   109    37     46

In [9]:
# Store the dataframe into database table
import sqlite3
os.chdir('C:\DS_ML\Video_Analytics_YOLOv4\Database_n_Files')
# define connection and cursor
connection = sqlite3.connect('videoAnalytics.db')
cursor = connection.cursor()

In [17]:
# cursor.execute('select name from sqlite_master where type = 'table'')
# pd.read_sql('select name from sqlite_master', connection)
pd.read_sql('select * from Test_Video_det', connection)

         object  confScore left_x top_y width height
0   pottedplant       0.32    545   283    64     85
1   pottedplant       0.38    544   284    66     84
2   pottedplant       0.37    544   284    67     84
3   pottedplant       0.48    544   283    66     86
4   pottedplant       0.45    545   284    65     86
5   pottedplant       0.42    545   286    64     85
6   pottedplant       0.27    547   290    66     82
7   pottedplant       0.34    552   291    62     84
8   pottedplant       0.28    550   293    65     83
9   pottedplant       0.28    553   293    62     83
10  pottedplant       0.25    555   295    61     83
11  pottedplant       0.36    579   282    63     87
12  pottedplant       0.33    581   282    64     88
13  pottedplant       0.34    581   282    64     88
14  pottedplant       0.35    582   280    65     88
15  pottedplant       0.30    582   280    66     91
16  pottedplant       0.33    618   261    67     94
17  pottedplant       0.42    620   261    64     95
18  pottedplant       0.38    620   261    64     92
19  pottedplant       0.29    622   260    64     92
20  pottedplant       0.28    622   260    64     92
21  pottedplant       0.25    624   264    62     85
22  pottedplant       0.32    624   265    63     86
23  pottedplant       0.32    624   265    63     85
24  pottedplant       0.34    647   282    67     89
25  pottedplant       0.36    647   282    67     88
26  pottedplant       0.33    651   285    67     83
27  pottedplant       0.37    689   305    64     83

In [9]:
df.to_sql('detections', connection, if_exists='replace', index=False)

In [10]:
pd.read_sql('select * from detections', connection)

        object  confScore left_x top_y width height
0      bicycle       0.92    115   128   458    299
1          dog       0.98    129   225   184    316
2        truck       0.92    464    77   221     93
3  pottedplant       0.33    681   109    37     46

In [11]:
# Dropping table as its a test table
cursor.execute("DROP TABLE detections")
connection.commit()

In [1]:
# extraacting file name for table name
path = 'C:\DS_ML\Video_Analytics_YOLOv4\YOLOv4\darknet\data\dog.jpg'
path.split('\\')[-1].split('.')[0] + '_det'

'dog_det'

In [18]:
# This approach is not working as it needs an image file path and not the image itself

darknetPath =   'darknet.exe'
cocoData =      'cfg\coco.data'
cfgFile =       'cfg\yolov4.cfg'
weightPath =    'C:\DS_ML\Video_Analytics_YOLOv4\Database_n_Files\yolov4.weights'
vidPath =       'C:\DS_ML\Video_Analytics_YOLOv4\Database_n_Files\Test_Video.mp4'

def detVidBB(vidPath):
    '''
    This function runs YOLOv4 detections on individual frame of the video,
     parses detection data in tabular format and saves the detections in a
     separate table in the database
    :param vidPath: Path of video file
    :return: Success/failure message
    '''
    os.chdir('C:\DS_ML\Video_Analytics_YOLOv4\YOLOv4\darknet')
    objects = ('dog', 'truck', 'bicycle', "pottedplant") # Object detections to be captured
    column_names = ['object', 'confScore', 'left_x', 'top_y', 'width', 'height']
    detectionDF = pd.DataFrame(columns = column_names)

    vidcap = cv2.VideoCapture(vidPath)
    frame_count = 0

    while(vidcap.isOpened()):

        response, frame = vidcap.read()

        if response == True:

            yoloCmd = [darknetPath, 'detector', 'test', cocoData, cfgFile, weightPath, '-ext_output', '-dont_show', frame]
            detfrm = subprocess.run(yoloCmd, stdout=subprocess.PIPE, stderr=subprocess.STDOUT, shell=True)
            detection = [line.decode() for line in detfrm.stdout.splitlines() if line.decode().startswith(objects)]
            df = pd.DataFrame([line.split() for line in detection])
            df.drop([2, 4, 6, 8], axis=1, inplace=True) # Dropping un-necessary columns
            df.columns = column_names                                                   # Naming the columns
            df['object'] = df['object'].str.strip(':')                                  # Removing un-necessary characters
            df['height'] = df['height'].str.strip(')')                                  # Removing un-necessary characters
            df['confScore'] = df['confScore'].str.strip('%').astype(float) / 100        # Converting confidence score as percetage
            df['frameNo'] = frame_count
            
            detectionDF.append(df, ignore_index=True)

        else:
            break

        frame_count += 1

    vidcap.release()
    tabName = vidPath.split('\\')[-1].split('.')[0]
    os.chdir('Database_n_Files')
    connection = sqlite3.connect('videoAnalytics.db')                           # Open connection to database
    detectionDF.to_sql(tabName, connection, if_exists='replace', index=False)   # Write detections in the table




# print(runVid(vidPath))
# detVidBB(vidPath)

In [73]:
# Reading the log file

file = open('/Users/nileshjha/DS_ML/Video_Analytics_YOLOv4/log1.txt', 'rt')
line = file.readline()
data = []
while line != '':
    data.append(line)
    line = file.readline()
    
data[0:30]

[' CUDA-version: 10020 (11000), cuDNN: 8.0.2, CUDNN_HALF=1, GPU count: 1  \n',
 '\n',
 ' CUDNN_HALF=1 \n',
 '\n',
 ' OpenCV version: 4.3.0\n',
 '\n',
 ' 0 : compute_capability = 750, cudnn_half = 1, GPU: GeForce RTX 2080 SUPER \n',
 '\n',
 '   layer   filters  size/strd(dil)      input                output\n',
 '\n',
 '   0 conv     32       3 x 3/ 1    608 x 608 x   3 ->  608 x 608 x  32 0.639 BF\n',
 '\n',
 '   1 conv     64       3 x 3/ 2    608 x 608 x  32 ->  304 x 304 x  64 3.407 BF\n',
 '\n',
 '   2 conv     64       1 x 1/ 1    304 x 304 x  64 ->  304 x 304 x  64 0.757 BF\n',
 '\n',
 '   3 route  1 \t\t                           ->  304 x 304 x  64 \n',
 '\n',
 '   4 conv     64       1 x 1/ 1    304 x 304 x  64 ->  304 x 304 x  64 0.757 BF\n',
 '\n',
 '   5 conv     32       1 x 1/ 1    304 x 304 x  64 ->  304 x 304 x  32 0.379 BF\n',
 '\n',
 '   6 conv     64       3 x 3/ 1    304 x 304 x  32 ->  304 x 304 x  64 3.407 BF\n',
 '\n',
 '   7 Shortcut Layer: 4,  wt = 0, wn = 0, outputs: 304 x 304 x  64 0.006 BF\n',
 '\n',
 '   8 conv     64       1 x 1/ 1    304 x 304 x  64 ->  304 x 304 x  64 0.757 BF\n',
 '\n',
 '   9 route  8 2 \t                           ->  304 x 304 x 128 \n',
 '\n']

In [74]:
# Parsing text data, filtering out un-necessary records
# Detection can contain multiple objects, so using in operator rather than startswith() to filter the data
objects = ['Objects', 'person']
detection = [line.strip() for line in data if ((line.strip() != '') and (('Objects' in line.strip()) or ('person' in line.strip())))]
detection[0:30]

['Objects:',
 'Objects:',
 'person: 62% \t(left_x:  483   top_y:  344   width:   55   height:  154)',
 'person: 52% \t(left_x:   16   top_y:  341   width:   48   height:  141)',
 'person: 92% \t(left_x:  648   top_y:  350   width:  101   height:  244)',
 'person: 49% \t(left_x:   66   top_y:  345   width:   45   height:  134)',
 'person: 48% \t(left_x:   59   top_y:  301   width: 1159   height:  421)',
 'person: 31% \t(left_x:    2   top_y:  342   width:   34   height:  135)',
 'person: 29% \t(left_x: 1252   top_y:  359   width:   28   height:   91)',
 'person: 80% \t(left_x: 1180   top_y:  434   width:  100   height:  162)',
 'person: 97% \t(left_x:   36   top_y:  363   width:  223   height:  356)',
 'person: 66% \t(left_x:  446   top_y:  325   width:   46   height:  164)',
 'person: 92% \t(left_x:  554   top_y:  360   width:   83   height:  205)',
 'person: 82% \t(left_x:  838   top_y:  338   width:   85   height:  367)',
 'person: 84% \t(left_x:  184   top_y:  339   width:   63   height:  211)',
 'person: 91% \t(left_x:  386   top_y:  355   width:   45   height:  134)',
 'person: 69% \t(left_x:  950   top_y:  382   width:  110   height:  330)',
 'person: 99% \t(left_x:  239   top_y:  340   width:  142   height:  364)',
 'Objects:',
 'person: 52% \t(left_x:   69   top_y:  306   width: 1141   height:  412)',
 'person: 40% \t(left_x:   19   top_y:  343   width:   46   height:  138)',
 'person: 31% \t(left_x:   67   top_y:  341   width:   46   height:  141)',
 'person: 29% \t(left_x:  334   top_y:  342   width:   47   height:  131)',
 'person: 97% \t(left_x:   48   top_y:  373   width:  212   height:  347)',
 'person: 67% \t(left_x:  183   top_y:  339   width:   63   height:  198)',
 'person: 76% \t(left_x:  452   top_y:  321   width:   48   height:  175)',
 'person: 76% \t(left_x:  486   top_y:  346   width:   54   height:  153)',
 'person: 78% \t(left_x:  837   top_y:  340   width:   88   height:  365)',
 'person: 94% \t(left_x:  650   top_y:  352   width:  101   height:  244)',
 'person: 25% \t(left_x:  641   top_y:  350   width:   42   height:   85)']

In [76]:
# Adding frame number to the detection entries

frameCnt = 0
finArr = []

for line in detection:
    if line.startswith('Objects'):
        frameCnt += 1
    else:
        confScore =   re.search('person:[ -]+(\d+)', line, re.IGNORECASE).group(1)
        left_x    =   re.search('left_x:[ -]+(\d+)', line, re.IGNORECASE).group(1)
        top_y     =   re.search('top_y:[ -]+(\d+)', line, re.IGNORECASE).group(1)
        width     =   re.search('width:[ -]+(\d+)', line, re.IGNORECASE).group(1)
        height    =   re.search('height:[ -]+(\d+)', line, re.IGNORECASE).group(1)
        finArr.append([frameCnt, 'person', confScore, left_x, top_y, width, height])
        
dafr = pd.DataFrame(finArr, columns=['frameNo', 'object', 'confScore', 'left_x', 'top_y', 'width', 'height'])
dafr

       frameNo  object confScore left_x top_y width height
0            2  person        62    483   344    55    154
1            2  person        52     16   341    48    141
2            2  person        92    648   350   101    244
3            2  person        49     66   345    45    134
4            2  person        48     59   301  1159    421
...        ...     ...       ...    ...   ...   ...    ...
59268     2853  person        65     35    57  1200    619
59269     2853  person        46    584   475    98    233
59270     2853  person        33    689   557    66    159
59271     2854  person        27    693   560    66    156
59272     2854  person        34     37    44  1186    649

[59273 rows x 7 columns]

In [5]:
# Store the dataframe into database table
import sqlite3
os.chdir('C:\DS_ML\Video_Analytics_YOLOv4\Database_n_Files')
# define connection and cursor
connection = sqlite3.connect('videoAnalytics.db')
cursor = connection.cursor()

In [19]:
# Read all the tables in database
pd.read_sql('select name from sqlite_master', connection)

                  name
0  Test_Video_pretrain

In [13]:
# Read data from the detection table
pd.read_sql('select * from Test_Video_pretrain', connection)

       frameNo  object confScore left_x top_y width height
0            2  person        62    483   344    55    154
1            2  person        52     16   341    48    141
2            2  person        92    648   350   101    244
3            2  person        49     66   345    45    134
4            2  person        48     59   301  1159    421
...        ...     ...       ...    ...   ...   ...    ...
59268     2853  person        65     35    57  1200    619
59269     2853  person        46    584   475    98    233
59270     2853  person        33    689   557    66    159
59271     2854  person        27    693   560    66    156
59272     2854  person        34     37    44  1186    649

[59273 rows x 7 columns]